<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} LIIT</title>
    <meta charset="utf-8">
    <link href="/static/css/normalize.2.0.1.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>

    {% block body %}

      <div id="topmenu">
        <div id="topmenu_title">LIIT</div>
        {% block topmenu %}{% endblock %}
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>

    {% endblock %}
    <script src="/static/js/jquery-1.8.1.min.js"></script>

  </body>
</html>
